name: CI

on: pull_request

jobs:

  lint:
    name: Lint check
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
    - uses: actions/checkout@v2
    - name: Setup Node
      uses: actions/setup-node@v2
      with:
        node-version: 14
    - name: Install npm@7
      run: npm i npm -g
    - name: Install dependencies
      run: npm ci
      env:
        CI: true
    - name: Build the lib so lint can check types
      run: npm run build
    - name: Lint check
      run: npm run lint

  test-latest:

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]

    name: Test with Angular@latest on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10

    steps:
    - uses: actions/checkout@v2
    - name: Setup Node
      uses: actions/setup-node@v2
      with:
        node-version: 14
    - name: Install npm@7
      run: npm i npm -g
    - name: Install dependencies
      run: npm ci
      env:
        CI: true
    - name: Build the lib
      run: npm run build
    - name: Run unit tests
      run: npm run unit:${{ matrix.os }}
    - name: Run unit tests in private mode
      run: npm run unit:${{ matrix.os }}:private
    - name: Install matching webdriver version
      run: ./node_modules/.bin/webdriver-manager update --versions.chrome $(google-chrome --version | cut -f 3 -d ' ')
      if: matrix.os == 'ubuntu-latest'
    - name: Run general e2e tests
      run: npm run e2e:demo
      if: matrix.os == 'ubuntu-latest'
    - name: Run interoperability e2e tests
      run: npm run e2e:interoperability
      if: matrix.os == 'ubuntu-latest'
    - name: Run Ivy e2e tests
      run: npm run e2e:ivy
      if: matrix.os == 'ubuntu-latest'

  test-minimum:

    name: Test with Angular@11.0.0 and minimum dependencies requirements
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
    - uses: actions/checkout@v2
    - name: Setup Node
      uses: actions/setup-node@v2
      with:
        node-version: 10
    - name: Install dependencies
      run: npm ci
      env:
        CI: true
    - name: Build the lib (with the current version, as it is what is published on npm)
      run: npm run build
    - name: Downgrade dependencies to minimal required version
      run: npm install typescript@4.0.2 tslib@2.0.0 rxjs@6.5.3 zone.js@0.10.3 @angular/common@11.0.0 @angular/compiler@11.0.0 @angular/core@11.0.0 @angular/platform-browser@11.0.0 @angular/platform-browser-dynamic@11.0.0 @angular/router@11.0.0 @angular/cli@11.0.0 @angular/compiler-cli@11.0.0 @angular-devkit/build-angular@0.1100.0
      env:
        CI: true
    - name: Run unit tests
      run: npm run unit:ubuntu-latest
    - name: Run unit tests in private mode
      run: npm run unit:ubuntu-latest:private
    - name: Install matching webdriver version
      run: ./node_modules/.bin/webdriver-manager update --versions.chrome $(google-chrome --version | cut -f 3 -d ' ')
    - name: Run general e2e tests
      run: npm run e2e:demo
    - name: Run interoperability e2e tests
      run: npm run e2e:interoperability
    - name: Run Ivy e2e tests
      run: npm run e2e:ivy
